/* .image {
  z-index: -1;
} */

.banner {
    position: relative;
  }
  
  .image {
    width: 40%;
    margin: 0 10%;
    height: auto;
    display: inline-block;
  }
  
  .overview {
     position: relative;
    top: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
  }
  