.table{
    width: 100%;
}

.table td{
}
 .profile{
    width: 30%;
    height: 2em;
    padding-left:  35%;

}
/* #dburl {

    width: 70%;
    height: 5em;
    padding-left: 15%;
} */

.savebutton{
margin-left:15%;
}